extends ../head

block content
    if discipline
        h2= title
        div(class="col-md-5")
            form(action="/updateDiscipline/" + discipline.id, method="POST")
                div(class="form-group mb-3")
                    input(
                        name="name"
                        type="text"
                        placeholder="Название дисциплины"
                        value=discipline.name
                        required
                        class="form-control"
                    )
                div(class="form-group mb-3")
                    input(type="submit" value="Обновить" class="btn btn-primary") 
        div(class="col-md-5")
            form(action="/deleteDiscipline/" + discipline.id, method="POST")
                div(class="form-group mb-3")
                    input(type="submit" value="Удалить" class="btn btn-danger")
    else
        div(class="form-group mb-3") Дисциплина с таким ID не найдена.